.container {
    display: flex;
    flex-direction: column;
    flex: 1.6;
    height: 100%;
    width: 100%;
    border-right: 1px solid #dadada;
}
.ProfileInfoDiv{
    display: flex;
    flex-direction: row;
    background: #ededed;
    justify-content: space-between;
    padding: 10px;
}
.SearchBox {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    padding: 10px;
}
.SearchIcon {
    width: 28px;
height: 28px;
}

.ContactItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}
.ContactItem:hover{
    background: #ebebeb;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 12px;
}
.ContactName{
    width: 100%;
    font-size: 16px;
    color: black;
}
.MessageText{
    width: 100%;
    font-size: 14px;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.8);
}
.MessageTime{
    font-size: 12px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.45);
    white-space: nowrap;
}
.ProfileImage {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: "relative";
}
.ProfileIcon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    object-fit: cover;
}
.SearchResults{
    width: 100%;
    height: 100px;
}



// conversationComponent
.Container{
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    width: 100%;
    background: #f6f7f8;
}
.ProfileHeader{
    display: flex;
    flex-direction: row;
    background: #ededed;
    padding: 10px;
    align-items: center;
}
.ProfileInfo{
    display: flex;
    flex-direction: row;
    background: #ededed;
    align-items: center;
    gap: 10px;
}
// .ProfileImage{
//     width: 32px;
//     height: 32px;
//     border-radius: 50%;
// }
.ContactName{
    font-size: 16px;
    color: black;
}
.ChatBox{
    display: flex;
    flex-direction: row;
    background: #f0f0f0;
    padding: 10px;
    align-items: center;
    bottom: 0;
}
.MessageContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.EmojiImage{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.4;
    cursor: pointer;
}